@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Basic Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card {
  background-color: hsl(0, 0%, 12%);
  width: 25%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 4%;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card--text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.card--text h1 {
  font-size: 20px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.card--text p {
  font-size: 14px;
  color: hsl(75, 94%, 57%);
  font-weight: 300;
}

.card--text blockquote {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: hsl(0, 0%, 100%);
}

.card--items {
  margin-top: 15px;
  text-align: center;

  display: flex;
  flex-direction: column; 
}

.card--items a {
  font-weight: 400;
  padding: 10px 80px;
  background-color: hsl(0, 0%, 20%);

  margin-top: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
}

.card--items a:hover,
.card--items a:active {
  background-color: hsl(75, 94%, 57%);
  color: #000000;
}


@media (max-width: 375px) {
  .card {
    width: 80%;
    margin-top: 7%;
  }
}

@media (max-width: 768px) {
  
  .card {
    width: 80%;
    margin-top: 13%;
  }

}